<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.smartapps.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabActivity"
            android:theme="@style/NoActionBarTheme"
            android:exported="false"/>
        <activity
            android:name=".PagerTabActivity"
            android:theme="@style/NoActionBarTheme"
            android:exported="false"/>
        <activity
            android:name=".PagerAnimationActivity"
            android:theme="@style/NoActionBarTheme"
            android:exported="false"/>
        <activity
            android:name=".PagerBoundariesActivity"
            android:theme="@style/NoActionBarTheme"
            android:exported="false"/>
        <activity android:name=".ZoomableImageActivity"
            android:exported="false"/>
        <activity android:name=".DialogActivity"
            android:exported="false"/>
        <activity android:name=".MapviewActivity"
            android:exported="false"/>
        <activity android:name=".video.MainVideoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity android:name=".video.CommonMethodsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity android:name=".video.CustomInitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity android:name=".video.ScaleTypeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity android:name=".video.SimpleInitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity android:name=".list.MainListActivity"
            android:exported="false"/>
        <activity android:name=".list.AsyncListActivity"
            android:exported="false"/>
        <activity android:name=".list.ExpandListActivity"
            android:exported="false"/>
        <activity android:name=".list.GridActivity"
            android:exported="false"/>
        <activity android:name=".list.ListActivity"
            android:exported="false"/>
        <activity android:name=".list.RandomReloadActivity"
            android:exported="false"/>
        <activity android:name=".list.RefreshListActivity"
            android:exported="false"/>
        <activity android:name=".list.SearchActivity"
            android:exported="false"/>
        <activity android:name=".video.SubtitlesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
    </application>

</manifest>